---
title: Test Title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/assets/global.css" />
  </head>

  <body>
    {{ content }}

    <script type="module" src="/libs/router.js"></script>
    <script src="/web-components/main-app.js"></script>
  </body>
</html>
